@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --primary-color: #ffa700;
    --secondary-color: #5a6595;
    --tertiary-color: #5271ff;
    --background: #f8f9fa;
    --text-color: #122786;
}

html,
body {
    background: var(--background);
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    width: 100%;
    margin: 0;
}

.logo {
    font-size: 1.8rem;
    color: var(--tertiary-color);
    background-color: var(--background);
}

.banner {
    width: 100%;
    height: auto;
    background-image: url("../photos/dashboard-banner.png");
    min-height: 280px;
}

.course-banner {
    width: 100%;
    height: auto;
    background-image: url("../photos/course-banner.png");
    min-height: 280px;
}

.help-banner {
    width: 100%;
    height: auto;
    background-image: url("../photos/helpful-banner.png");
    min-height: 180px;
}

.help-sm-banner {
    width: 100%;
    height: auto;
    background-image: url("../photos/help-banner.png");
    min-height: 180px;
}

.top-banner {
    width: 100%;
    height: auto;
    background-image: url("../photos/top-banner.png");
    min-height: 280px;
}

.assessment-banner {
    width: 100%;
    height: auto;
    background-image: url("../photos/assessment-banner.png");
    min-height: 280px;
}

.sidebar {
    width: 233px;
    height: 960px;
    background-color: white;
}

.header {
    color: var(--secondary-color);
}

.subtext {
    font-size: 0.9rem;
    color: white;
}

.text-list {
    color: var(--secondary-color);
    font-size: 1rem;
}

.btn {
    background-color: var(--primary-color);
}

.btn:hover {
    background: rgb(249, 185, 64, 0.4);
    color: var(--primary-color);
}

svg {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    color: var(--secondary-color);
}

.nav-link {
    color: black;
}

.nav-link:hover {
    background-color: rgb(90, 101, 149, 0.1);
    color: var(--tertiary-color);
    width: 100%;
}

.nav-link.active {
    background-color: rgb(90, 101, 149, 0.1);
    color: var(--tertiary-color);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 0.75rem;
}

/* star-rating css */

.rate {
    display: inline-block;
    white-space: nowrap;
}

fieldset,
label {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.rating {
    border: none;
}

.rating > input {
    display: none;
}
.rating > label:before {
    margin-right: 5px;
    margin-top: 10px;
    font-size: 0.9em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > label {
    color: grey;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffad58;
}
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #ffad58;
}

.card {
    background-color: var(--secondary-color);
}

.form-control {
    width: 100%;
    color: black;
    font-size: 0.75rem;
    line-height: 1.25rem;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 1rem;
}

.form-control::placeholder {
    color: black;
    opacity: 0.4;
}

.form-control:focus {
    box-shadow: none;
}

.submit-mark {
    width: 7rem;
}

@media (max-width: 1420px) and (min-width: 771px) {
    .banner-col {
        margin-left: 5rem;
    }
}
